<button type="button" class="btn btn-primary">Shop Now</button>
<button type="button" class="btn btn-success" onclick="redirectToAnotherPage('https://localhost:7230/Products/Index')">Discover</button>

<script>
    function redirectToAnotherPage(path) {
        window.location.href =path ;
    }
</script>
