@{
    ViewData["Title"] = "Products";
}

@model Product
<div class="container">
  <div class="row my-4">
       
       <div class="col-lg-6">
          <img src="@Model.ImageUrl" style="height:500px;" class="img-fluid" alt="Responsive image"/>

    </div>
    <div class="col-lg-6">
        <div class="card" style="height:500px;" >
  <div class="card-body py-4" >
    <h5 class="card-title">Title: @Model.Title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Category: @Model.Category</h6>

    <p class="card-text"> Description:  @Model.Description  .</p>
   <h3>Price: $@Model.Price</h3>
    <button type="button" class="btn btn-secondary" onclick="redirectToAnotherPage('https://localhost:7230/Products/Index')">Back</button>
   <button type="button" class="btn btn-info">Add to Cart</button>
  </div>
</div>
    </div>
  </div>
</div>

<script>
    function redirectToAnotherPage(path) {
        window.location.href =path ;
    }
</script>
